<div class="page page--home">
  <div class="bg"></div>
  <!-- <nav class="nav">
    <div class="nav__inner">
      <button class="btn btn--icon">
        <span class="menu_bar"></span>
      </button>
      <h3 class="brand">Home</h3>
    </div>
    <div class="nav__inner">
      <button class="btn btn--icon"><span class="cross_bar"></span></button>
    </div>s
  </nav> -->
  <main>
    <img
      class="logo"
      src="https://res.cloudinary.com/swssr/image/upload/v1602810056/bansela_assets/ekjz2kol4ctuakqwbh4i.png"
      alt=""
    />
    <div class="hero">
      <div class="prehead">Welcome</div>
      <p>Your bucks balance is</p>
      <div class="subhead accent">
        <strong>{{ profile.bucks }}</strong> <span> bucks</span>
      </div>
      <div class="cta-wrapper">
        <div class="cta"><span class="em">EARN</span>BUCKS</div>
        <div class="cta"><span class="em">BURN</span>BUCKS</div>
      </div>
    </div>
    <div class="list-wrapper">
      <div class="list-head">Available Promotion</div>
      <ul class="list list--horizontal">
        <li class="list__item card">
          <img
            src="https://res.cloudinary.com/swssr/image/upload/v1602809680/bansela_assets/uq8vy3olgqt6n5ingh9k.jpg"
            alt="promo__img"
          />
          <div class="labels">
            <p>Hunter's</p>
            <h3>GET 50 BUCKS!</h3>
          </div>
          <div class="actions">
            <button class="btn btn--plain">TAP ME</button>
          </div>
        </li>
        <li class="list__item card">
          <img
            src="https://res.cloudinary.com/tumi/image/upload/v1602649488/Home%20PWAs/Baron/compressed/BD_BARON_STEAK_TUESDAY_In_app_awarness_screen_1000_x_7000.jpg"
            alt="promo card"
          />
        </li>
        <li class="list__item card">
          <img
            src="https://res.cloudinary.com/tumi/image/upload/v1602649573/Home%20PWAs/Baron/compressed/BD_BARON_LADIES_LUNCH_In_app_awarness_screen_1000_x_7000.jpg"
            alt="promo card"
          />
        </li>
        <div class="list__pad"></div>
      </ul>
    </div>
  </main>
  <nav class="nav nav--bottom"></nav>
</div>
