<div class="page page--home">
  <div class="bg"></div>
  <!-- <nav class="nav">
    <div class="nav__inner">
      <button class="btn btn--icon">
        <span class="menu_bar"></span>
      </button>
      <h3 class="brand">Home</h3>
    </div>
    <div class="nav__inner">
      <button class="btn btn--icon"><span class="cross_bar"></span></button>
    </div>s
  </nav> -->
  <main>
    <img
      class="logo"
      src="https://res.cloudinary.com/swssr/image/upload/v1602810056/bansela_assets/ekjz2kol4ctuakqwbh4i.png"
      alt=""
    />
    <div class="hero">
      <div class="prehead">Welcome</div>
      <p>Your bucks balance is</p>
      <div class="subhead accent buck-counter">
        <strong>{{ profile.bucks }}</strong> <span> bucks</span>
      </div>
      <div class="cta-wrapper">
        <div class="cta"><span class="em">EARN</span>BUCKS</div>
        <div class="cta"><span class="em">BURN</span>BUCKS</div>
      </div>
    </div>
    <div class="list-wrapper">
      <div class="list-head">Available Promotion</div>
      <ul class="list list--horizontal">
        <li
          *ngFor="let tile of tiles"
          class="list__item card"
          [ngStyle]="{'color': tile.color || '#f4f4f4'}"
        >
          <img src="{{tile.img}}" alt="promo__img" />
          <div class="labels">
            <p>{{tile.name}}</p>
            <h2>{{tile.offer}}</h2>
          </div>
          <div class="actions">
            <div class="btn btn--urgent">{{tile.cta || "LEARN HOW"}}</div>
          </div>
        </li>
        <div class="list__pad"></div>
      </ul>
    </div>
  </main>
  <nav class="nav nav--bottom"></nav>
</div>
