@font-face {
  font-family: "Albra Regular";
  src: url(https://res.cloudinary.com/tumi/raw/upload/v1602630239/fonts/bev/FontsFree-Net-AlbraRegular.ttf);
}
@font-face {
  font-family: "Armasen Kelson Light";
  src: url(https://res.cloudinary.com/tumi/raw/upload/v1602630238/fonts/bev/Armasen_-_Kelson-Light.otf);
}
@font-face {
  font-family: "Armasen Kelson";
  src: url(https://res.cloudinary.com/tumi/raw/upload/v1602630238/fonts/bev/Armasen_-_Kelson.otf);
}
@font-face {
  font-family: BebasNue;
  src: url(https://res.cloudinary.com/tumi/raw/upload/v1602511181/fonts/bev/BebasNeue_Regular.otf);
}
@font-face {
  font-family: AvenirNextCondensed;
  src: url(https://res.cloudinary.com/tumi/raw/upload/v1602511175/fonts/bev/AvenirNextCondensed-Regular.ttf);
}
@font-face {
  font-family: "AvenirNextCondensed Bold";
  src: url(https://res.cloudinary.com/tumi/raw/upload/v1602511178/fonts/bev/AvenirNextCondensed-Bold.ttf);
}
@font-face {
  font-family: "Arial";
  src: url(https://res.cloudinary.com/tumi/raw/upload/v1602511182/fonts/bev/Arial.ttf);
}
@font-face {
  font-family: "Avenir";
  src: url(https://res.cloudinary.com/tumi/raw/upload/v1602511191/fonts/bev/Avenir.ttc);
}

@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700;900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --color-accent: #f52e26;
  --border-radius: 1rem;
}
html,
body {
  font-family: "Roboto", sans-serif;
  font-size: 18px;
}

/* NAV */
.nav {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  transform: scale(1);
  z-index: 100;
}
.nav__inner {
  display: flex;
  align-items: center;
  width: max-content;
  height: 100%;
}
.nav__inner:last-of-type {
  margin-left: auto;
}

.nav--bottom {
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 99999;
}

.brand {
  margin-left: 1em;
  color: #f4f4f4;
}
/* END-NAV */

/* HERO */
.hero {
  width: 100%;
  /* padding-top: 10vh; */
  color: #f4f4f4;
  margin-bottom: 2em;
}
.prehead {
  font-size: 2.5em;
}
.head {
  font-size: 3em;
  font-weight: bold;
  width: 100%;
}
.subhead {
  font-size: 26px;
  margin-left: 16px;
}
.buck-counter {
  color: #021b44 !important;
  background-color: #fdfdfd;
  width: max-content;
  margin: 0 auto;
  font-size: 24px;
  padding: 0.1em 0.2em;
  border-radius: 6px;
}
.img--hero {
  width: 100%;
  height: 100%;
}
.hero p {
  font-weight: 400;
  line-height: 1.2;
  margin: 0.5em;
  opacity: 0.96;
}
/* END-HERO */

.list-wrapper {
  color: #f4f4f4;
  width: 100vw;
  height: 32vh;
  margin-left: -2em;
  padding-left: 2em;
}
.list-head {
}
.list {
  display: flex;
  list-style: none;
  width: inherit;
  height: inherit;
  margin-left: inherit;
  overflow-y: auto;
  overflow-x: scroll;
  padding: 1em;
  padding-left: inherit;
}
.list__item {
  position: relative;
  min-width: 78vw !important;
  transition: 0.4s;
  background-color: gray;
  padding: 1em;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  border-radius: var(--border-radius);
  overflow: hidden;
}
.list:hover .list__item:hover {
  transform: scale(1.05);
  box-shadow: 0 0 26px rgba(0, 0, 0, 0.26);
}
.list__item:hover ~ .list__item {
  filter: blur(1px) brightness(0.9);
}
.list__item:not(:last-child) {
  margin-right: 1em;
}
.list__item img {
  --size: calc(100% + 1em * 2);
  --size: 100%;
  position: absolute;
  top: 0;
  left: 0;
  width: var(--size);
  height: var(--size);
  object-fit: cover;
  border-radius: var(--border-radius);
  box-shadow: 0 0 16px rgba(0, 0, 0, 0.2);
  z-index: 0;
}
.list__item img ~ * {
  z-index: 10 !important;
}
.list__pad {
  min-width: 2em !important;
  box-sizing: border-box;
}
.accent {
  color: var(--color-accent);
}
.btn {
  outline: none;
  border: none;
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  color: #f4f4f4;
}
.btn--icon {
  --s: 2.5em;
  width: var(--s);
  height: var(--s);
}

/* ICONS */
.menu_bar,
.cross_bar {
  position: relative;
  display: block;
  background-color: #fff;
  width: inherit;
  height: 3px;
}
.cross_bar::before,
.menu_bar::before,
.menu_bar::after {
  --gap: 4px;
  content: "";
  position: absolute;
  left: 0;
  width: inherit;
  height: inherit;
  background-color: inherit;
  transform: translateY(calc((100% + var(--gap)) * -1));
  transition: 0.5s;
}
.menu_bar::after {
  transform: translateY(calc(100% + var(--gap)));
}
.cross_bar {
  transform-origin: center;
  transform: rotate(45deg);
}
.cross_bar::before {
  transform-origin: center;
  margin: 0;
  transform: rotate(-90deg);
}
.cross_bar:hover {
  animation: spin 1s ease-in;
}
.btn--corner {
  position: relative;
  z-index: 1;
}
.btn--corner::before {
  --s: 8em !important;
  content: "";
  position: absolute;
  width: var(--s);
  height: var(--s);
  background-color: rgba(31, 29, 29, 0.384);
  margin-left: 1em;
  margin-top: 0.5em;
  border-radius: 50%;
  z-index: -1;
  animation: pulse 7s infinite;
}
.btn--urgent {
  background-color: var(--color-accent);
  padding: 0.2em 0.3em;
  border-radius: 6px;
  box-shadow: 0 0 16px rgba(29, 27, 27, 0.425);
  border: 2px solid #f4f4f433;
  transition: 0.4s;
}
.list__item .btn--urgent {
  animation: shake 0.82s 4s cubic-bezier(0.36, 0.07, 0.19, 0.97) both,
    pulse 4s ease-out forwards;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  perspective: 1000px;
}

.list__item:hover .btn--urgent {
  animation: shake 0.82s 4s cubic-bezier(0.36, 0.07, 0.19, 0.97) both,
    pulse 4s ease-out forwards infinite;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  perspective: 1000px;
}

@keyframes fade {
  from {
    opacity: 0.8;
  }
  to {
    opacity: 1;
  }
}
@keyframes fade-up {
  from {
    opacity: 0.8;
    transform: translateY(10vh);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes shake {
  10%,
  90% {
    transform: translate3d(-1px, 0, 0);
  }

  20%,
  80% {
    transform: translate3d(2px, 0, 0);
  }

  30%,
  50%,
  70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%,
  60% {
    transform: translate3d(4px, 0, 0);
  }
}
@keyframes spin {
  0% {
    transform: rotate(45deg);
  }
  50% {
    transform: rotate(-45deg);
  }
  100% {
    transform: rotate(45deg);
  }
}
@keyframes breathe {
  0% {
    --gap: 4px;
    /* transform: scaleY(1.1); */
  }
  50% {
    --gap: 8px;
    /* transform: rotate(-45deg); */
  }
  100% {
    --gap: 4px;
    /* transform: rotate(45deg); */
  }
}
@keyframes pulse {
  0% {
    box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.1),
      0 0 0 0 rgba(255, 255, 255, 0.1);
    /* transform: scaleY(1.1); */
  }
  50% {
    --gap: 8px;
    box-shadow: 0 0 0 12px rgba(255, 255, 255, 0.1),
      0 0 0 24px rgba(255, 255, 255, 0.1);
    /* transform: rotate(-45deg); */
  }
  100% {
    --gap: 4px;
    box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.1),
      0 0 0 0 rgba(255, 255, 255, 0.1);
    /* transform: rotate(45deg); */
  }
}
